{
  "parser": "@typescript-eslint/parser",
  "plugins": ["mocha", "prettier", "@typescript-eslint", "chai-expect", "chai-friendly", "promise"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:chai-expect/recommended",
    "plugin:chai-friendly/recommended",
    "plugin:mocha/recommended",
    "plugin:prettier/recommended",
    "plugin:promise/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/unbound-method": "off",
    "max-len": "off",
    // NOTE --> Rule turned off, otherwise must type downstream return for HOFs, see: https://github.com/typescript-eslint/typescript-eslint/issues/758
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "es6": true,
    "node": true
  }
}
